body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.languages {
  .dropdown-toggle::after {
    display: none !important;
  }
}

@media (min-width: 1400px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1500px !important;
  }
}

.app-container {
  .header-container {
    padding-top: 20px;

    .brand-icon {
      font-size: 25px;
      color: #00bfff;
      animation: spin 5s infinite linear;
    }

    @keyframes spin {
      from {
        transform: scale(1) rotate(0deg);
      }

      to {
        transform: scale(1) rotate(360deg);
      }
    }

    .navbar {
      background-color: rgba(0, 0, 0, 0) !important;
      z-index: 10;

      .nav-link {
        &.active {
          font-weight: 700;
          color: cornflowerblue;
        }
      }

      .btn-login {
        height: 40px;
        border: solid 1px grey;
        border-radius: 5px;
        padding: 0 10px;
        margin: 5px;

        &:hover {
          background-color: whitesmoke;
        }
      }

      .btn-signup {
        height: 40px;
        background-color: #303030;
        color: whitesmoke;
        border-radius: 5px;
        padding: 0 20px;
        margin: 5px;

        &:hover {
          background-color: black;
        }
      }
    }
  }

  .homepage-content {
    position: relative;
    padding: 0 100px;
    width: 50%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    .title {
      font-size: 45px;
      font-weight: 600;
    }

    .content {
      font-size: 25px;
    }

    .btn-click {
      button {
        height: 40px;
        background-color: #303030;
        color: white;
        border-radius: 5px;
        padding: 0 20px;
        margin: 5px;
        border: none;

        &:hover {
          background-color: black;
        }
      }
    }
  }

  .app-content {
    height: calc(100vh - 60px);
  }
}

video {
  position: fixed;
  bottom: 0;
  width: 100vw;
}